@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
*{
    color: white;
    border: 0px solid rgb(255, 255, 255);
}
body{
    background-color: black;
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../imagenes/background.jpg);
}
/************** CABEZERA O ENCABEZADO **********************************/

nav{
    margin: auto;
    margin-top: 30px;
    max-width: 1440px;
}
ul.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
ul li#logo{
    margin-right: 20px;
}
ul.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
}
ul.menu-horizontal li{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    vertical-align: middle;
}
ul.menu-horizontal li a{
    vertical-align: middle;
    font-family: system-ui, sans-serif;
	font-size: 1rem;
    letter-spacing: 3px;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
ul.menu-horizontal li a:hover{
    box-shadow: inset 1000px 0 0 0 #54b3d6;
    color: white;
  }
ul.menu-horizontal li a:hover{
    color: rgb(132, 236, 255);
    text-decoration:dashed;
}

ul.menu-vertical{
    position: absolute;
    display:none;
    width: 200px;
    list-style:circle;
    font-weight: bold;
}
ul.menu-horizontal li:hover ul.menu-vertical{
    display:table;
    background-color: white;
    margin-bottom: 100px;
} 

/***************** MAIN *************/
/***************** MAIN *************/
/***************** MAIN *************/
/***************** MAIN *************/
/***************** MAIN *************/
/***************** MAIN *************/
/***************** MAIN *************/
/***************** MAIN *************/
img.rounded-corners{
    box-shadow: inset 0 0 0 0 #54b3d6;
    border: 10px solid whitesmoke;
    border-radius: 500px;
}
img.me{
    margin-left: 10%;
}
.rounded-corners:hover{
    border: 10px solid #54b3d6;
}
main{
    display: block;
    width: 100%;
}
article{
    display: flex;
    float: left;
    vertical-align: middle;
    text-align: center;
    width: 50%;
}
aside{
    display: flex;
    float: right;
    width: 50%;
    text-align: center;
}
aside h2{
    margin-left: 20%;
    margin-right: 20%;
}
aside h3{
    margin-left: 20%;
    margin-right: 20%;
}
aside h4{
    margin-left: 20%;
    margin-right: 20%;
}
article h1{
    margin-top:15%;
    margin-left: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 20px;
}
article p q{
    margin-left: 30px;
    text-align: center;
    font-style: italic;
}
a#alex{
    transition: none;
    box-shadow: none;
}
aside h2{
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    background-color: #54b3d6;
}
aside h2:hover{
    color: #54b3d6;
    background-color: whitesmoke;
}
aside h3{
    text-align: center;
    vertical-align: middle;
    color: rgb(203, 203, 203);
    background-color: black;
}
aside h4{
    text-align: center;
    vertical-align: middle;
    color: rgb(203, 203, 203);
    background-color: black;
}
img.rigth{
    vertical-align: middle;
}


/* DIV BODY */
.body{
    background-color: white;
}
.panels{
    width: 300px;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 15px
}
.panels h2{
    border-radius: 15px
}
.panels ul li{
    margin-left: -30px;
    list-style: none;
}
.panels ul li a{
    list-style: none;
    color: black;
    font-size: medium;
    font-weight: bold;
    vertical-align: middle;
    text-decoration: none;
}
.panels ul li a:hover{
    color: whitesmoke;
    background-color: black;
}
.panels ul li:hover{
    color: white;
}

/* menu vertical */
nav.vertical{
    float: left;
    width: 15%;
    margin-top: 500px;
}
ul.menu-vertical1{
    list-style: none;
    display: block;
    justify-content: space-around;
    padding: 15px;
    margin-top: 100px;
}

ul.menu-vertical1 > li > a{
    display: block;
    padding: 15px 20px;
}
ul.menu-vertical1 li{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    vertical-align: middle;
    padding: 10px;
}
ul.menu-vertical1 li a{
    vertical-align: middle;
    font-family: system-ui, sans-serif;
	font-size: 1rem;
    letter-spacing: 3px;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
ul.menu-vertical1 li a:hover{
    box-shadow: inset 1000px 0 0 0 #54b3d6;
    color: white;
    width: 100px;
  }
ul.menu-vertical2 li a:hover{
    color: rgb(132, 236, 255);
    text-decoration:dashed;
    width: 20%;
}

ul.menu-vertical2{
    position: absolute;
    display:none;
    list-style:circle;
    font-weight: bold;
}
ul.menu-vertical1 li:hover ul.menu-vertical2{
    display:table;
    background-color: white;
    margin-bottom: 100px;
    width: 20%
} 
i {
    text-align: center;
}
/* menu vertical end */

#PNG {
    margin-left: 20%;
    margin-top: 60%;
    margin-right: 5%;
}
#PNG h1{
    text-align: center;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1;
    text-align: center;
    background-color: #54b3d6;
    color: black;
    border-radius: 3cm;
}
#PNG ul{
    text-align: center;
}

#ADG {
    margin-top: 15%;
}
#ADG h1{
    text-align: center;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1;
    text-align: center;
    background-color: #54b3d6;
    color: black;
    border-radius: 3cm;
}
#w3-ul li a{
    color: white;
}
#MFG {
    margin-top: 15%;
}
#MFG h1{
    text-align: center;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1;
    text-align: center;
    background-color: #54b3d6;
    color: black;
    border-radius: 3cm;
}

button{
    align-items: center;
    justify-content: center;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.3);
    border-width: 8px 0px 8px 8px;
    /* Spacing */
    padding: 1px;
    vertical-align: middle;
  }